body{
    background-color: rgb(58, 165, 192);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 480px;
    width: 330px;
    background-color: rgb(36, 86, 108);
    border-radius: 25px;
    border-width: 10px;
    border-color: black;
    padding: 20px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.display{
    width: 335px;
    height: 100px;
    background-color: rgb(47, 111, 139);
    border-radius: 15px;
}

.rowOne{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
}

.rowOne button{
    width: 160px;
    height: 40px;
    border-width: 0px;
    font-size: 30px;
    color: white;
}

.delete{
    background-color: red;
}

.clear{
    background-color: blue;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.row button{
    width: 76px;
    height: 60px;
    font-size: 25px;
}