body{
    background-color: rgb(58, 165, 192);
    
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 350px;
    background-color: rgb(36, 86, 108);
    border-radius: 25px;
    
}